body>header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.nav.container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #fff;
}
.nav-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.nav-link {
    color: #fff;
}
.nav-toggle {
    display: none;
}
@media screen and (max-width: 1024px) {
    .nav.container {
        /* padding: 0 20px; */
    }
    .nav-list {
        position: absolute;
        top: -440px;     
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: #c9f1e3;
        z-index: -1;      
        backdrop-filter: blur(8px);
    }
    .nav-item {
        padding-bottom: 20px;
        border-bottom: 2px solid white;
        text-align: center;
        width: 100%;
    }
    .nav-link {
        display: block;
    }
    .nav-toggle {
        display: block;
    }
    .show-menu {
        top: 77px;
    }
}