@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;

}

main {
    margin: 100px;
    height: calc(100vh - 200px);

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0A4A92;
    /* font-family: Orbitron; */
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    font-family: Orbitron;

}

.routine-options {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.option-input {
    display: flex;
    margin-bottom: 15px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#option-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

#option-list li {
    background-color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    white-space: nowrap;
}

.main-content {
    display: flex;
    gap: 30px;
}

.routine-tracker, .saved-routines {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#saved-night-routines {
    list-style-type: none;
    padding: 0;
}

#saved-night-routines li {
    background-color: #e9ecef;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .container {
        padding: 10px;
    }

    .routine-options,
    .routine-tracker,
    .saved-routines {
        padding: 10px;
    }

    .option-input {
        margin-bottom: 8px;
    }

    input[type="text"] {
        font-size: 14px;
        padding: 6px;
    }

    button {
        padding: 6px 8px;  /* 모바일에서 가장 작은 padding */
        font-size: 12px;  /* 모바일에서 가장 작은 font-size */
    }

    #option-list li {
        font-size: 12px;
    }
}